$txt-main: #000000;
$txt-light: #888888;
$txt-pink: #fe0496;
$txt-purple: #9369ff;
$txt-green: #2ecb71;
$txt-yellow: #ffb600;

$bg-light: #f8f8f8;
$bg-pink: #ffd8ef;

$primary: #1964ff;
$secondary: #f2f2f2;
$black: #000000;
$white: #ffffff;
$green: #64c98c;
$red: #f03c1e;

$transition: all 0.5s ease;
$opacity: 0.7;
